.app-header {
    height: 220px;
    border-bottom: 5px solid rgb(106, 182, 120);
  }
    
  .app-header::after {
    content: "";
    height: 270px;
    opacity: 0.4;
    background: url('../../../../assets/F1header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;   
  }
    
  .app-logo {
    margin-top: 60px;
    height: 80px;
    margin-left: 50px;
  }
    
  .app-slogan {
    font-family: 'Times New Roman', 'Times New Roman', cursive;
    font-weight: bold; color: snow;
    font-size: large;
    margin-top: 75px;
    margin-left: 10px;
  }